@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: url("./img/beerCursor.png") 15 15, pointer;
}
body {
  background-image: url("./img/beerBackground.webp");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  cursor: url("./img/beerCursor.png") 15 15, pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
